# Ignore node_modules
node_modules/

# Ignore log files
*.log

# Ignore the build directory (for compiled code)
/build/

# Ignore environment variable files
.env

# Ignore macOS system files
.DS_Store

# Ignore Visual Studio Code settings folder
.vscode/
