<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Gallery</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/gallery.css" />
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <header class="navbar">
    <div class="container">
      <div class="logo-container">
      <h1><a href="/"><img src="/image/logo.png" class="navbar-logo" alt="Happy kids at daycare"/></a> </h1>
      </div>
      <div class="hamburger" id="hamburger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
        <div class="line4"></div>
      </div>
      <nav id="mobile-menu">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/services">Services</a>
        <a href="/gallery">Gallery</a>
        <a href="/contact">Contact</a>
      </nav>
    </div>
    
  </header>

  <div class="gallery-grid" id="gallery">
    <img src="/image/homedecorleft.jpg" alt="Happy kids at daycare"/>
    <img src="/image/homedecorright.jpg" alt="Happy kids at daycare"/>
     <img src="/image/aquarium.jpg" alt="Happy kids at daycare"/>
      <img src="/image/hallone.jpg" alt="Happy kids at daycare"/>
      <img src="/image/halltwo.jpg" alt="Happy kids at daycare"/>
      <img src="/image/hallwall.jpg" alt="Happy kids at daycare"/>
      <img src="/image/hallthree.jpg" alt="Happy kids at daycare"/>
      <img src="/image/hallfour.jpg" alt="Happy kids at daycare"/>
      <img src="/image/hallfive.jpg" alt="Happy kids at daycare"/>
      <img src="/image/hallsix.jpg" alt="Happy kids at daycare"/>
      <img src="/image/hallseven.jpg" alt="Happy kids at daycare"/>
      <img src="/image/kidsroomone.jpg" alt="Happy kids at daycare"/>
      <img src="/image/kidsroomtwo.jpg" alt="Happy kids at daycare"/>
      <img src="/image/kidsroomthree.jpg" alt="Happy kids at daycare"/>
      <img src="/image/kidsroomfour.jpg" alt="Happy kids at daycare"/>
      <img src="/image/kidsroomfive.jpg" alt="Happy kids at daycare"/>
      <img src="/image/kidsroomsix.jpg" alt="Happy kids at daycare"/>
  </div>

  <div class="lightbox" id="lightbox">
    <button class="close" id="closeBtn">&times;</button>
    <button class="nav-btn prev" id="prevBtn">&#10094;</button>
    <img id="lightbox-img" src="" alt="Full view" />
    <button class="nav-btn next" id="nextBtn">&#10095;</button>
  </div>

  <script src="/js/gallery.js"></script>
</body>
</html>
