<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Little Heaven Daycare - Home</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <header class="navbar">
    <div class="container">
      <div class="logo-container">
      <h1><a href="/"><img src="/image/logo.png" class="navbar-logo" alt="Happy kids at daycare"/></a> </h1>
      </div>
      <div class="hamburger" id="hamburger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
        <div class="line4"></div>
      </div>
      <nav id="mobile-menu">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/services">Services</a>
        <a href="/gallery">Gallery</a>
        <a href="/contact">Contact</a>
      </nav>
    </div>
    
  </header>

  <section class="hero">
    <div class="container">
      <h2>Welcome to Little Heaven Daycare</h2>
      <p>A nurturing, safe, and fun environment where your child can grow and shine!</p>
      <a href="/about" class="btn">Learn More</a>
    </div>
  </section>
  <section class="gallery">
  <h2> <a href="/gallery" class="btn">Gallery</a></h2>
  <div class="slider-container">
   
    <div class="slider-track">
      <img src="/image/aquarium.jpg" alt="Happy kids at daycare"/>
      <img src="/image/hallone.jpg" alt="Happy kids at daycare"/>
      <img src="/image/halltwo.jpg" alt="Happy kids at daycare"/>
      <img src="/image/hallwall.jpg" alt="Happy kids at daycare"/>
      <img src="/image/hallthree.jpg" alt="Happy kids at daycare"/>
      <img src="/image/hallfour.jpg" alt="Happy kids at daycare"/>
      <img src="/image/hallfive.jpg" alt="Happy kids at daycare"/>
      <img src="/image/hallsix.jpg" alt="Happy kids at daycare"/>
      <img src="/image/hallseven.jpg" alt="Happy kids at daycare"/>
      <img src="/image/kidsroomone.jpg" alt="Happy kids at daycare"/>
      <img src="/image/kidsroomtwo.jpg" alt="Happy kids at daycare"/>
      <img src="/image/kidsroomthree.jpg" alt="Happy kids at daycare"/>
      <img src="/image/kidsroomfour.jpg" alt="Happy kids at daycare"/>
      <img src="/image/kidsroomfive.jpg" alt="Happy kids at daycare"/>
      <img src="/image/kidsroomsix.jpg" alt="Happy kids at daycare"/>

    </div>
   
  </div>
</section>

  <footer class="footer">
    <div class="container">
      <p>&copy; 2025 Little Heaven Daycare | All rights reserved.</p>
    </div>
  </footer>

</body>
</html>


<script>
  const hamburger = document.getElementById('hamburger');
  const nav = document.querySelector('nav');

  hamburger.addEventListener('click', () => {
    hamburger.classList.toggle('active');
    nav.classList.toggle('active');
  });
</script>
